body{
	background-image: url(../img/gradientgreen.gif);
	background-repeat: repeat-x;
}

#divContent h2, #divContent h3, #divContent h3 a, #divContent h2 a {
	
	background-color: #AD1448;
	color:#FFFFFF;
}

#divFlashPic {
	background-color: #FAE4C5;
}

#divTopLeft, #divTopLeft2 {
	background-color: #DADB6C;
} 

#divBottomLeft {
	background-color: #ABAD14;
}

#divBottomCentre, .divLeft, .divRight {
	background-color: #DADB6C;
}

#divBottomRight {
	background-color: #FAE57F;
}

.divLeft, .divRight{
border-bottom: #AD1448;
}