#header {
	background-image: url(../img/topplum.jpg);
	background-repeat: no-repeat;
}

#linkNav {
		background-color: #8E5369;
}

#footer {
background-image: url(../img/bottomplum.jpg);
}
